@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
m-50{
    margin: 50px 0;
}
body{
    background-color: #f3f0eb;
}
.header-top{
    padding: 15px 0;
    border-bottom: 1px solid #eeddee;
}

p.compare {
    text-transform: uppercase;
    font-family: 'saira', sans-serif;
    font-weight: 300;
}
ul.social-links{
    list-style: none;
    text-align: right;
}

ul.social-links li{
    display: inline;
    padding: 0 5px;
}

ul.social-links li a{
    font-size: 16px;
    color: #000;
}

.main-header{
    padding: 40px 0;
}

ul.main-menu {
    list-style: none;
}

ul.main-menu li {
    display: inline;
    padding: 0 15px;
}

ul.main-menu li:first-child {
    padding: 0;
}

ul.main-menu li a {
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
}

.user-area {
    text-align: right;
}

.user-area ul {
    list-style: none;
}

.user-area ul li {
    display: inline;
    padding: 0px 15px;
}

.user-area ul li a {
    color: #333;
    font-size: 24px;
}

.user-area ul li a .i{
    font-weight: 300;
}

ul.main-menu, .user-area {
    margin: 40px 0;
}

.ticker {
    background-color: #333;
}

.ticker p {
    padding: 9px 0;
    text-align: center;
    color: #D4BE84;
}
span.uppertext {
    text-transform: uppercase;
    font-weight: 500;
}

section.about {
    text-align: center;
    margin: 80px 0;
}

section.about h2{
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 50px;
}

section.about p{
    font-size: 17px;
    line-height: 27px;
}

section.banner-1{
    height: 600px;;
}

section.banner-1 img{
    width: 100%;

}

section.loctote-about{
    margin: 80px 0;
}

.live{
    text-align: center;
    padding: 30px 0;
}

.live p{
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
}

p.details {
    font-size: 17px;
    line-height: 28px;
}

section.gallary{
    margin: 50px 0;
}

section.gallary > .gallary-item {
    margin: 10px;;
}

.gallary-item img {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.support-campaign{
    background-color: #333;
    padding: 83px 40px;
}

.support-campaign h3, .support-campaign h5 {
    color: #D4BE84; ;
}

.support-campaign p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 35px;
}
.support-campaign h5{
    font-size: 13px;
    font-weight: 300;
}